div{
 width: 200px;
 height: 200px;
 margin:10px
}

main{
    display: flex;
}

.red{
background-color: red;
}

.blue{
background-color: blue;

}

.green{
background-color: green;
}

.circle{
width: 200px;
border-radius: 50%;
}